<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>prod.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} MDC=%X{user} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="FILE"/>
    </root>
</configuration>